body {
    font-family: 'Open Sans', sans-serif;
}
a, button {
    transition: all .2s linear;
}
a:focus {
    text-decoration: none;
}
.bold-text {
    font-weight: bold;
}
.navbar-toggle .icon-bar {
    width: 24px;
    height: 2px;
    background-color: #4c4c4c;
}
.navbar-default .navbar-toggle .icon-bar {
    position: relative;
}
.navbar-toggle {
    float: none;
    display: block;
    margin-bottom: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 7px;
}
.navbar-toggle .icon-bar:nth-of-type(2) {
    width: 14px;
}
.header-page-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #e9e9e9;
}
.logo-header img {
    width: 136px;
}
.relative-content {
    position: relative;
}
.relative-content button {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9999;
    border: none;
    background-color: transparent;
}
.relative-content button:focus {
    outline: none;
}
.close-header-icon {
    display: none;
}
.close-header-icon.show {
    display: block;
    width: 21px;
    position: absolute;
    top: 18px;
}
.main-page-search {
    height: 60px;
    z-index: 1111;
    position: relative;
    width: 100%;
    border: none;
    background-color: #fafafa;
}
.search-line-input {
    background-color: #fafafa;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: all .2s linear;
}
.search-line-input.show {
    z-index: 1;
    opacity: 1;
}
.main-page-search:focus {
    outline: none;
}
.main-page-search::placeholder {
    color: #000;
}
.header-icons a {
    margin-left: 35px;
}
.gamburger-block, .logo-header {
    width: 33.3%;
    padding-left: 26px;
}
nav {
    text-align: center;
}
nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.topmenu > li {
    display: inline-block;
}
.topmenu > li > a {
    font-weight: bold;
    padding: 18px 58px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1c1c1c;
    font-size: 10px;
}
.topmenu > li > a:hover {
    background-color: #ededed;
    text-decoration: none;
}
.topmenu > li:hover {
    background-color: #ededed;
}
.submenu {
    position: absolute;
    z-index: 5;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    /*transition: .1s ease-in-out;*/
    left: 0;
    right: 0;
    background-color: #ededed;
    padding: 40px;
    background-image: url("../images/flower.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.submenu li {
    position: relative;
    text-align: left;
}
.submenu h3 {
    padding: 0 20px;
    margin-top: 0;
    float: left;
    width: calc(100% / 2);
}
.menu-list-title:before {
    content: '•';
    position: absolute;
    left: 5px;
    top: 0px;
    font-size: 26px;
}
.submenu a {
    color: #1c1c1c;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 6px 20px;
}
.submenu .submenu {
    position: absolute;
    top: 0;
    left: calc(100% - 1px);
    left: -webkit-calc(100% - 1px);
}
.submenu > li {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}
nav li:hover > .submenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.submenu .menu-list-title {
    font-weight: bold;
    font-size: 18px;
    position: relative;
}
.menu-list-title {
    margin-top: 30px;
}
.menu-list-title:first-child {
    margin-top: 0;
}
.logo-header {
    padding-left: 62px;
}
.owl-dot {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 10em;
    display: inline-block;
    border: 2px solid #b1b1b1;
    margin: 6px;
    transition: background-color .5s ease, transform .5s ease;
}
.owl-dot.active {
    background-color: #333;
    border: 2px solid #333;
}
.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 5.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 5.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #1c1c1e;
}
.owl-absolute-block {
    width: 575px;
    position: absolute;
    top: 21%;
    left: 14%;
}
.owl-absolute-block h1 {
    font-size: 58px;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 9px;
}
.owl-absolute-block h1 span {
    font-size: 37px;
}
.owl-absolute-block p {
    margin-bottom: 83px;
    padding-right: 10px;
}
.main-button {
    color: #000;
    border: 1px solid #000;
    padding: 17px 40px;
    position: relative;
    transition: all .2s linear;
}
.main-button:hover {
    text-decoration: none;
    color: #000;
}
.main-button:focus {
    border-color: #de0588;
    color: #000;
}
.main-button::before {
    content: '';
    background-color: #dfddde;
    width: 100px;
    height: 15px;
    position: absolute;
    bottom: -1px;
    left: -1px;
    transition: all .2s linear;
}
.main-button:hover::before, .main-button:hover::after {
    width: 0;
}
.main-button:focus::before, .main-button:focus::after {
    width: 0;
}
.main-button::after {
    content: '';
    background-color: #dfddde;
    width: 100px;
    height: 15px;
    position: absolute;
    top: -1px;
    right: -1px;
    transition: all .2s linear;
}
.main-title-page {
    overflow: hidden;
    text-align: center;
    margin-bottom: 40px;
}
.main-title-page h2 {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.main-title-page:before, .main-title-page:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    position: relative;
    background-color: #e7e7e7;
}
.main-title-page:before {
    margin-left: -100%;
    left: -14px;
}
.main-title-page:after {
    margin-right: -100%;
    right: -14px;
}
.owl-carousel {
    margin-bottom: 60px;
}
.category-links-text:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    position: relative;
    background-color: #e7e7e7;
    margin-right: -100%;
    right: -14px;
}
.category-links-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.category-links-text {
    overflow: hidden;
    position: absolute;
    width: 190px;
    right: 0;
    bottom: 0px;
    padding: 20px 20px;
    background-color: #fff;
}
.category-links-text:hover a {
    color: #de0588;
}
.category-links-item {
    width: 32%;
    position: relative;
    overflow: hidden;
}
.category-links-item img {
    width: 100%;
    transition: all .2s linear;
}
.category-links-item img:hover {
    transform: scale(1.1);
}
.category-links-text a {
    color: #000;
}
.category-links-text a:hover {
    color: #de0588;
    text-decoration: none;
}
.category-links-text:hover:after {
    background-color: #de0588;
}
.category-item-block img {
    width: 100%;
    transition: all .1s linear;
}
.category-item-block img:hover {
    transform: scale(1.1);
}
.category-item-block {
    margin-right: 15px;
    position: relative;
    overflow: hidden;
}
.category-item-block:last-child {
    margin-right: 0;
}
.category-text-block a {
    color: #000;
}
.category-text-block a:hover {
    color: #de0588;
    text-decoration: none;
}
.category-text-block {
    position: absolute;
    bottom: 0;
    padding: 20px;
    z-index: 1;
    background-color: #fff;
}
.flex-brands-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
.main-brand-column .button-brands {
    color: #000;
    background-color: #f9f9f9;
    display: block;
    text-align: center;
    padding: 30px;
}
.main-brand-column img {
    width: 100%;
    margin-bottom: 10px;
}
.main-brand-column {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-brand-column a {
    display: block;
}
.big-brand-column img {
    width: 282px;
}
.main-brand-column .button-brands:hover {
    text-decoration: none;
}
.flex-brands-block:hover img {
    filter: grayscale(.8);
}
.flex-brands-block img:hover {
    filter: grayscale(0%);
}
.grey-line-page {
    background-color: #fafafa;
    margin-bottom: 60px;
}
.flex-sale-cart-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}
.shares-image-block {
    margin: -80px 0px;
}
.main-button-light::after, .main-button-light::before {
    background-color: #fafafa;
}
.main-button-light {
    margin-top: 20px;
    display: inline-block;
}
.big-pencent-shares {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}
.shares-image-block img {
    width: 444px;
}
.advantages-icon-flex {
    display: flex;
    justify-content: space-between;
}
.main-advantages-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.advantages-min-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.big-text-advantages {
    font-size: 30px;
    padding: 20px 30px;
}
.min-advantages-item {
    width: 190px;
}
.main-advantages-block .category-item-block {
    position: relative;
    width: 53%;
}
.advantages-description {
    width: 74%;
}
.main-advantages-block .category-links-text {
    left: 0;
    font-size: 12px;
}
.main-advantages-block .category-links-text:after {
    width: 34%;
}
.advantages-description > p {
    width: 60%;
}
.advantages-icon-item {
    text-align: center;
    width: 28%;
}
.advantages-icon-title {
    font-weight: bold;
    text-align: left;
    margin: 15px 0;
}
.advantages-icon-item p {
    text-align: left;
}
.advantages-description p {
    color: #8f8f8f;
}
.follow-block-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.grey-line-page-flower {
    position: relative;
}
.follow-block-flex .main-button-light {
    margin-top: 0;
}
.follow-block-flex input {
    border: none;
    padding: 20px 30px;
    color: #000;
    width: 60%;
}
.follow-block-flex input:focus {
    outline: none;
}
.follow-block-flex input::placeholder {
    color:#000;
}
.flower-left-absolute {
    position: absolute;
    left: 0;
    bottom: -38px;
}
.flower-left-absolute img {
    height: 327px;
}
.main-blog-item-title a {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
.main-blog-item-title a:hover {
    color: #de0588;
    text-decoration: none;
}
.main-blog-item-date {
    color: #8f8f8f;
    margin-bottom: 10px;
}
.main-blog-item-link a {
    text-decoration: underline;
    color: #000;
}
.main-blog-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.blog-main-item {
    width: 32%;
}
.blog-main-item img {
    width: 100%;
}
.main-blog-item-title {
    margin: 10px 0;
}
.button-center {
    text-align: center;
    margin-bottom: 80px;
}
.button-center .main-button-light::after, .button-center .main-button-light::before {
    background-color: #fff;
}
.flex-instagram {
    display: flex;
    justify-content: space-between;
}
.masonry-instagram {
    display: flex;
    justify-content: space-between;
}
.instagram-item img {
    width: 100%;
}
.instagram-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}
.footer-grey {
    background-color: #fafafa;
    margin-top: 80px;
}
.footer-flex-item-link-title {
    font-weight: bold;
}
.footer-input {
    background-image: url("../images/send.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}
.footer-flex-block {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.footer-flex-item a {
    color: #000;
}
.footer-flex-item-link {
    margin-bottom: 10px;
}
.footer-input::placeholder {
    color: #000;
}
.footer-input {
    padding: 6px 14px;
    border: none;
    background-color: transparent;
}
.footer-input:focus {
    outline: none;
}
.border-footer {
    border-bottom: 1px solid #8f8f8f;
}
.border-footer a:hover {
    text-decoration: none;
}
.last-links-footer {
    text-align: right;
}
.footer-flex-item:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.it-tehnology-text {
    margin-bottom: 10px;
}
.footer-social-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-social-flex a {
    width: 26%;
    font-size: 22px;
    text-align: center;
}
.footer-social-flex a:hover {
    color: #de0588;
}
#burger-content {
    position: fixed;
    z-index: 9;
    height: 100%;
    width: 520px;
    top: 0;
    left: -520px;
    overflow: auto;
    padding: 13px 15px;
    background: #fff;
    transition: all ease-in-out .3s;
}
#burger-content.show {
    left: 0;
    z-index: 9;
}
.cart_content .continue {
    cursor: pointer;
    text-align: right;
}
#burger-content {
    background-image: url("../images/flower-menu.png");
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
}
.modal-city-block {
    column-count: 3;
    margin-bottom: 30px;
}
.modal-city-block a {
    display: block;
    color: #000;
    margin-bottom: 15px;
}
.modal-title-city {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
}
.modal-inputs input {
    background-color: #f5f5f5;
    border: none;
    padding: 20px;
    flex-grow: 1;
    margin-right: 15px;
}
.modal-body {
    padding: 40px;
}
.modal-inputs {
    display: flex;
    justify-content: space-between;
}
.button-modal-city {
    background-color: transparent;
    border: 1px solid #d3d3d3;
    padding: 15px 40px;
}
.modal-center-block {
    display: flex;
    justify-content: center;
}
button.close {
    z-index: 11;
    position: relative;
    top: 15px;
    right: 15px;
}
.burger-city-link i {
    margin-right: 5px;
    color: #de0588;
    border-bottom: 1px dashed transparent;
}
.burger-city-link button {
    background-color: transparent;
    color: #de0588;
    border: none;
    border-bottom: 1px dashed #de0588;
    padding: 0;
}
.burger-city-link span {
    border-bottom: 1px dashed transparent;
    margin-right: 5px;
}
#menu-left-acide ul ul {
    display: none;
    list-style-type: disc;
}
.has-sub.open > a > i {
    transform: rotate(180deg);
}
#menu-left-acide ul:first-child {
    padding-left: 0;
    list-style: none;
}
#menu-left-acide ul:nth-child(2) {
    padding-left: 20px;
    list-style: none;
}
#menu-left-acide ul .catalog-left-menu-disk {
    list-style-type: disc;
    margin: 10px 0;
    display: block;
}
#menu-left-acide ul .catalog-left-menu-disk a {
    color: #a9a9a9;
}
#menu-left-acide ul .catalog-left-menu-disk a:hover {
    color: #de0588;
}
.has-sub .red-block-catalog, .red-block-catalog {
    color: #a9a9a9;
}
#menu-left-acide a:hover {
    color: #de0588;
    text-decoration: none;
}
#menu-left-acide a {
    cursor: pointer;
    display: block;
}
.has-sub a {
    color: #000;
}
.open > .second-menu-link{
    text-decoration: underline;
}
#menu-left-acide > ul > li, #menu-left-acide > ul > li > ul li {
    margin: 20px 0;
}
#menu-left-acide .catalog-left-menu-disk li {
    margin: 5px 0;
}
#menu-left-acide > ul > li {
    margin: 30px 0;
}
.burger-city-link {
    margin-bottom: 80px;
}
.navbar-toggle:hover .icon-bar {
    background-color: #de0588;
}
.header-icons a .header-icon-hover, .button-search-input .header-icon-hover {
    display: none;
}
.header-icons a .header-icon-normal, .button-search-input .header-icon-normal {
    display: block;
}
.header-icons a:hover .header-icon-normal, .button-search-input:hover .header-icon-normal{
    display: none;
}
.header-icons a:hover .header-icon-hover, .button-search-input:hover .header-icon-hover {
    display: block;
}
.header-icons {
    display: flex;
    padding-right: 32px;
}
#menu-left-acide {
    margin-bottom: 80px;
}
.modal-social-flex {
    display: flex;
}
.modal-social-flex a {
    color: #000;
    margin-right: 15px;
    font-size: 22px;
}
.modal-social-flex a:hover {
    color: #de0588;
}
.footer-logo {
    margin-bottom: 20px;
}