body {
    font-family: 'Open Sans', sans-serif;
}
a, button, i {
    transition: all .2s linear;
}
a:focus {
    text-decoration: none;
}
.bold-text {
    font-weight: bold;
}
.navbar-toggle .icon-bar {
    width: 30px;
    height: 2px;
    background-color: #4c4c4c;
}
.navbar-default .navbar-toggle .icon-bar {
    position: relative;
}
.navbar-toggle {
    float: none;
    display: block;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 7px;
}
.navbar-toggle .icon-bar:nth-of-type(2) {
    width: 20px;
}
.header-page-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #e9e9e9;
}
.header-icons a {
    margin-left: 30px;
}
.gamburger-block, .logo-header {
    width: 33.3%;
}
nav {
    text-align: center;
}
nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.topmenu > li {
    display: inline-block;
}
.topmenu > li > a {
    font-weight: bold;
    padding: 20px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1c1c1c;
}
.topmenu > li > a:hover {
    background-color: #ededed;
    text-decoration: none;
}
.topmenu > li:hover {
    background-color: #ededed;
}
.submenu {
    position: absolute;
    z-index: 5;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    /*transition: .1s ease-in-out;*/
    left: 0;
    right: 0;
    background-color: #ededed;
    padding: 40px;
    background-image: url("../images/flower.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.submenu li {
    position: relative;
    text-align: left;
}
.submenu h3 {
    padding: 0 20px;
    margin-top: 0;
    float: left;
    width: calc(100% / 2);
}
.menu-list-title:before {
    content: '•';
    position: absolute;
    left: 5px;
    top: 0px;
    font-size: 26px;
}
.submenu a {
    color: #1c1c1c;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 6px 20px;
}
.submenu .submenu {
    position: absolute;
    top: 0;
    left: calc(100% - 1px);
    left: -webkit-calc(100% - 1px);
}
.submenu > li {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}
nav li:hover > .submenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.submenu .menu-list-title {
    font-weight: bold;
    font-size: 18px;
    position: relative;
}
.menu-list-title {
    margin-top: 30px;
}
.menu-list-title:first-child {
    margin-top: 0;
}
.logo-header {
    padding-left: 35px;
}
.owl-dot {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 10em;
    display: inline-block;
    border: 2px solid #b1b1b1;
    margin: 10px;
    transition: background-color .5s ease, transform .5s ease;
}
.owl-dot.active {
    background-color: #333;
    border: 2px solid #333;
}
.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #1c1c1e;
}
.owl-absolute-block {
    width: 450px;
    position: absolute;
    top: 25%;
    left: 10%;
}
.owl-absolute-block h1 span {
    font-size: 26px;
}
.owl-absolute-block p {
    margin-bottom: 40px;
}
.main-button {
    color: #000;
    border: 1px solid #000;
    padding: 20px 40px;
    position: relative;
    transition: all .2s linear;
}
.main-button:hover {
    text-decoration: none;
    color: #000;
}
.main-button:focus {
    border-color: #de0588;
    color: #000;
}
.main-button::before {
    content: '';
    background-color: #dfddde;
    width: 100px;
    height: 15px;
    position: absolute;
    bottom: -1px;
    left: -1px;
    transition: all .2s linear;
}
.main-button:hover::before, .main-button:hover::after {
    width: 0;
}
.main-button:focus::before, .main-button:focus::after {
    width: 0;
}
.main-button::after {
    content: '';
    background-color: #dfddde;
    width: 100px;
    height: 15px;
    position: absolute;
    top: -1px;
    right: -1px;
    transition: all .2s linear;
}
.main-title-page {
    overflow: hidden;
    text-align: center;
    margin-bottom: 40px;
}
.main-title-page h2 {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.main-title-page:before, .main-title-page:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    position: relative;
    background-color: #e7e7e7;
}
.main-title-page:before {
    margin-left: -100%;
    left: -14px;
}
.main-title-page:after {
    margin-right: -100%;
    right: -14px;
}
.owl-carousel {
    margin-bottom: 60px;
}
.category-links-text:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    position: relative;
    background-color: #e7e7e7;
    margin-right: -100%;
    right: -14px;
}
.category-links-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.category-links-text {
    overflow: hidden;
    position: absolute;
    width: 160px;
    right: 0;
    bottom: 10px;
}
.category-links-text:hover a {
    color: #de0588;
}
.category-links-item {
    width: 32%;
    position: relative;
    overflow: hidden;
}
.category-links-item img {
    width: 100%;
    transition: all .2s linear;
}
.category-links-item img:hover {
    transform: scale(1.1);
}
.category-links-text a {
    color: #000;
}
.category-links-text a:hover {
    color: #de0588;
    text-decoration: none;
}
.category-links-text:hover:after {
    background-color: #de0588;
}
.category-item-block img {
    width: 100%;
    transition: all .2s linear;
}
.category-item-block img:hover {
    transform: scale(1.1);
}
.category-item-block {
    margin-right: 15px;
    position: relative;
    overflow: hidden;
}
.category-item-block:last-child {
    margin-right: 0;
}
.category-text-block a {
    color: #000;
}
.category-text-block a:hover {
    color: #de0588;
    text-decoration: none;
}
.category-text-block {
    position: absolute;
    bottom: 10px;
}
.flex-brands-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
.main-brand-column .button-brands {
    color: #000;
    background-color: #f9f9f9;
    display: block;
    text-align: center;
    padding: 30px;
}
.main-brand-column img {
    width: 100%;
    margin-bottom: 10px;
}
.main-brand-column {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-brand-column a {
    display: block;
}
.big-brand-column img {
    width: 282px;
}
.main-brand-column .button-brands:hover {
    text-decoration: none;
}
.flex-brands-block:hover img {
    filter: grayscale(.8);
}
.flex-brands-block img:hover {
    filter: grayscale(0%);
}
.grey-line-page {
    background-color: #fafafa;
    margin-bottom: 60px;
}
.flex-sale-cart-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}
.shares-image-block {
    margin: -80px 0px;
}
.main-button-light::after, .main-button-light::before {
    background-color: #fafafa;
}
.main-button-light {
    margin-top: 20px;
    display: inline-block;
}
.big-pencent-shares {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}
.shares-image-block img {
    width: 444px;
}
.advantages-icon-flex {
    display: flex;
    justify-content: space-between;
}
.main-advantages-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.advantages-min-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.big-text-advantages {
    font-size: 30px;
    padding: 20px 30px;
}
.min-advantages-item {
    width: 190px;
}
.main-advantages-block .category-item-block {
    position: relative;
    width: 53%;
}
.advantages-description {
    width: 74%;
}
.main-advantages-block .category-links-text {
    left: 0;
    font-size: 12px;
}
.main-advantages-block .category-links-text:after {
    width: 34%;
}
.advantages-description > p {
    width: 60%;
}
.advantages-icon-item {
    text-align: center;
    width: 28%;
}
.advantages-icon-title {
    font-weight: bold;
    text-align: left;
    margin: 15px 0;
}
.advantages-icon-item p {
    text-align: left;
}
.advantages-description p {
    color: #8f8f8f;
}
.follow-block-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.grey-line-page-flower {
    position: relative;
}
.follow-block-flex .main-button-light {
    margin-top: 0;
}
.follow-block-flex input {
    border: none;
    padding: 20px 30px;
    color: #000;
    width: 60%;
}
.follow-block-flex input:focus {
    outline: none;
}
.follow-block-flex input::placeholder {
    color:#000;
}
.flower-left-absolute {
    position: absolute;
    left: 0;
    bottom: -38px;
}
.flower-left-absolute img {
    height: 327px;
}
.main-blog-item-title a {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
.main-blog-item-title a:hover {
    color: #de0588;
    text-decoration: none;
}
.main-blog-item-date {
    color: #8f8f8f;
    margin-bottom: 10px;
}
.main-blog-item-link a {
    text-decoration: underline;
    color: #000;
}
.main-blog-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.blog-main-item {
    width: 32%;
}
.blog-main-item img {
    width: 100%;
}
.main-blog-item-title {
    margin: 10px 0;
}
.button-center {
    text-align: center;
    margin-bottom: 80px;
}
.button-center .main-button-light::after, .button-center .main-button-light::before {
    background-color: #fff;
}
.flex-instagram {
    display: flex;
    justify-content: space-between;
}
.masonry-instagram {
    display: flex;
    justify-content: space-between;
}
.instagram-item img {
    width: 100%;
}
.instagram-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}
.footer-grey {
    background-color: #fafafa;
    margin-top: 80px;
}
.footer-flex-item-link-title {
    font-weight: bold;
}
.footer-input {
    background-image: url("../images/send.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}